nav {
    background-color: #333;
}
li button{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
    float: left;
 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
  top: 0;
  border-color: #333;

}
li {
    list-style: none;
}

li :hover {
    background-color: #383e48;
}
.active {
    background-color: #cd4343;
}